---
import { Image } from 'astro:assets';

import Layout from '@/layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

import banner from '@/images/home/banner.webp';
import mundoDeSabores from '@/images/home/imagotipo-mundo-de-sabores.webp';
import lienzo from '@/images/home/lienzo-bg.webp';
import lienzoCacao from '@/images/home/lienzo-cacao-bg.webp';

import postGranoDeDacao from '@/images/home/post-grano-de-cacao.webp';
import postChloeDoutre from '@/images/home/post-chloe-doutre.webp';
import postIngAlexis from '@/images/home/post-ing-alexys.webp';
import postFundacionProsperi from '@/images/home/post-fundacion-prosperi.webp';
import postPintao from '@/images/home/post-pintao.webp';
import postTesoro from '@/images/home/post-tesoro.webp';

import mundoDeSaboresPanel from '@/images/home/mundo-de-sabores-panel.webp';
import lienzoMundoBg from '@/images/home/lienzo-mundo-bg.webp';
import logo from '@/images/global/logo.webp';
import logoInteracao from '@/images/global/logo-intercacao.webp';
import logoRegresoAlAgua from '@/images/global/logo-regreso-al-agua.webp';
import logoWilfriedMerle from '@/images/global/logo-wilfried-merle.webp';
import logoRegresoAlAgro from '@/images/global/logo-regreso-al-agro.webp';
import logoFundacionProsperi from '@/images/global/logo-fundacion-prosperi.webp';
import logoWhiteImagotipoCacaoGourmet from '@/images/global/logo-white-imagotipo-cacao-gourmet.webp';
import logoElectronDeporte from '@/images/global/logo-electron-deporte.png';
import logoElectronMusica from '@/images/global/logo-electron-musica-y-dansa.png';
import logoElectronReligion from '@/images/global/logo-electron-religion.png';

import { CarouselPost } from '@/components/ui/carousel/Post';
import { ChocolateGallery } from '@/components/ChocolateGallery';
import { Mail, MapPin, Facebook, Instagram, MessageCircle } from 'lucide-react';
import { getLangFromUrl } from '@/assets/lib/i18n/utils';

const posts = [
  {
    title: 'Metodo de evaluación',
    description:
      'El metodo de evaluacion “cacao grader” complementa el metodo tradicional con un una evaluacion organoléptica completa, desarrollada por la reconocida Chloe Doutre',
    image: {
      src: postGranoDeDacao.src,
      alt: 'Metodo de evaluación',
    },
  },
  {
    title: 'Chloe Doutre Rousell',
    description: 'Consultora, Educadora y Experta en cacao fino y chocolate. ',
    image: {
      src: postChloeDoutre.src,
      alt: 'Metodo de evaluación',
    },
  },
  {
    title: 'Ing. Alexis Zambrano',
    description: 'Profesor, PhD, Magister, Ingeniero Quimico. ',
    image: {
      src: postIngAlexis.src,
      alt: 'Metodo de evaluación',
    },
  },
  {
    title: 'Fundacion Quirico Prosperi',
    description:
      'Organización sin fines de lucro creada con la misión de promover y difundir los valores históricos y agrícolas de Venezuela a través de programas educativos y sociales como “Regreso al agro” y “Proyecto Agua”. ',
    image: {
      src: postFundacionProsperi.src,
      alt: 'Metodo de evaluación',
    },
  },
  {
    title: 'Central de Beneficio “Pintao“',
    description:
      'Situado en La Concepción, Rio Caribe, nuestras instalaciones cuentan con un equipo de expertos que garantiza los mejores protocolos de fermentación y secado y trazabilidad',
    image: {
      src: postPintao.src,
      alt: 'Metodo de evaluación',
    },
  },
  {
    title: 'Central de Beneficio “Tesoro”',
    description:
      'Situado en el sur del lago (SDLG), nuestras instalaciones cuentan con un equipo de expertos que garantiza los mejores protocolos de fermentacion y secado y trazabilidad',
    image: {
      src: postTesoro.src,
      alt: 'Metodo de evaluación',
    },
  },
];

const lang = getLangFromUrl(Astro.url);

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'es' } }];
}
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} pubDate={new Date()} keywords="">
  <div class="overflow-hidden">
    <div
      id="section-home"
      class="relative size-dvw flex-1 md:w-full lg:w-full xl:h-screen xl:w-full"
    >
      <Image
        loading="eager"
        inferSize={true}
        src={banner}
        alt="Intercacao banner principal"
        class="h-full w-full object-cover object-center"
      />
      <Image
        loading="eager"
        inferSize={true}
        class="absolute top-10 left-25 w-15 md:top-20 md:left-20 md:w-30 lg:top-20 lg:left-20 lg:w-30 xl:top-20 xl:left-20 xl:w-30"
        src={logoInteracao}
        alt="Intercacao banner principal"
      />
    </div>
    <div
      class="flex w-full items-center justify-center p-10"
      style={`background-image: url(${lienzo.src});`}
    >
      <Image
        loading="lazy"
        inferSize={true}
        src={mundoDeSabores}
        alt="Intercacao banner principal"
        class="w-75 object-fill object-center"
      />
    </div>

    <div class="bg-primary h-5 w-full"></div>

    <div
      id="section-flavours"
      class="flex size-auto items-center justify-center md:w-full md:px-10 md:pb-10 lg:w-full lg:px-10 lg:pb-10 xl:w-full xl:px-10 xl:pb-10"
      style={`background-image: url(${lienzo.src});`}
    >
      <Image
        loading="lazy"
        inferSize={true}
        src={mundoDeSaboresPanel}
        alt="Intercacao banner principal"
        class="object-fill object-center shadow-2xl"
      />
    </div>

    <div id="section-gourmet" class="bg-primary h-auto w-full">
      <div class="flex w-full items-center justify-center pt-10">
        <Image
          loading="lazy"
          inferSize={true}
          src={logoWhiteImagotipoCacaoGourmet}
          alt="Intercacao banner principal"
          class="w-75 object-fill object-center"
        />
      </div>
      <ChocolateGallery lang={lang} client:only="react" />
    </div>

    <div
      id="section-prosperi"
      class="bg-start flex h-auto w-full items-start justify-center overflow-hidden bg-no-repeat md:h-screen md:items-center lg:h-screen lg:items-center xl:h-screen xl:items-center"
      style={`background-image: url(${lienzoCacao.src});`}
    >
      <div class="flex w-full flex-col gap-10 p-10 md:w-1/2 md:p-0 lg:w-1/2 lg:p-0 xl:w-1/2 xl:p-0">
        <h1 class="text-4xl font-bold text-neutral-600 uppercase">Fundación Quirico Prosperi</h1>
        <p class="text-lg">
          La Fundacion Quirico Prosperi, es una organizacion no lucrativa, que tiene el compromiso
          de difundir los valores historicos, culturales y agricolas de venezuela a traves de su
          programa educacional "Regreso al Agro", probando que la siembra de cacao es una profesion
          rentable que genera cambios sociales. El objetivo principal es el de colaborar con la
          comunidad, enriqueciendo y promoviendo las buenas practicas agricolas para las
          generaciones futuras de Chuao.
        </p>
        <div
          class="flex flex-col items-center justify-center gap-5 md:flex-row lg:flex-row xl:flex-row"
        >
          <div class="h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoRegresoAlAgua}
              alt="Intercacao banner principal"
              class="h-full w-full object-fill object-center"
            />
          </div>
          <div class="h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoWilfriedMerle}
              alt="Intercacao banner principal"
              class="h-full w-full object-fill object-center"
            />
          </div>
          <div class="h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoRegresoAlAgro}
              alt="Intercacao banner principal"
              class="h-full w-full object-fill object-center"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center gap-5 md:flex-row lg:flex-row xl:flex-row"
        >
          <div class="z-50 block h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoElectronDeporte}
              alt="Intercacao banner principal"
              class="z-50 block h-full w-full object-fill object-center"
            />
          </div>
          <div class="z-50 block h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoElectronReligion}
              alt="Intercacao banner principal"
              class="z-50 block h-full w-full object-fill object-center"
            />
          </div>
          <div class="z-50 block h-full w-70">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoElectronMusica}
              alt="Intercacao banner principal"
              class="h-full w-full object-fill object-center"
            />
          </div>
        </div>
        <div class="relative flex w-full items-center justify-center">
          <div class="z-50 block h-full w-100 bg-white">
            <Image
              loading="lazy"
              inferSize={true}
              src={logoFundacionProsperi}
              alt="Intercacao banner principal"
              class="z-50 block h-full w-full object-fill object-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary h-5 w-full"></div>

  <div
    id="section-about"
    class="bg-start flex h-auto w-full items-start justify-center bg-no-repeat py-20 md:items-center lg:items-center xl:items-center"
    style={`background-image: url(${lienzoCacao.src});`}
  >
    <div
      class="flex w-full flex-col items-center justify-center gap-10 p-10 md:w-2/3 md:p-0 lg:w-1/2 lg:p-0 xl:w-1/2 xl:p-0"
    >
      <div>
        <h1 class="text-4xl font-bold text-neutral-600 uppercase">Nosotros</h1>
      </div>
      <div>
        <h3 class="py-4 text-3xl text-neutral-600 uppercase">
          Somos un equipo de apasionados por el cacao.
        </h3>
      </div>
      <p class="text-lg">
        Nuestra misión es buscar los más deseados cacaos que contribuyan a la elaboración de los
        mejores chocolates del mundo. Trabajamos en los lugares donde crecen los mejores cacaos,
        hogar de los grandiosos cacaos criollos, llegamos a orígenes inaccesibles buscando una
        completa trazabilidad y aplicando protocolos post cosecha logrando así aromas y sabores
        extraordinarios para que los grandes chocolateros puedan elaborar los mejores chocolates del
        mundo.
      </p>
      <div class="flex h-150 w-full items-center justify-center gap-5">
        <iframe
          loading="lazy"
          allowfullscreen
          title="Intercacao"
          class="h-full w-full overflow-hidden rounded-lg"
          src="https://www.youtube.com/embed/7jUvTbe8DPE"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>
      </div>
      <div class="flex w-full items-center justify-center gap-5">
        <CarouselPost posts={posts} client:load />
      </div>
    </div>
  </div>

  <div class="bg-primary h-5 w-full"></div>

  <div
    id="section-contact"
    class="bg-start flex size-dvw h-screen items-center justify-center bg-no-repeat md:w-auto lg:w-auto xl:h-screen xl:w-auto"
    style={`background-image: url(${lienzoMundoBg.src});`}
  >
    <div class="flex w-full flex-col items-center justify-center gap-10 md:w-1/2 lg:w-1/2 xl:w-1/2">
      <Image class="w-80" src={logo} alt="Intercacao banner principal" />
      <ul class="flex flex-col items-start justify-start gap-5">
        <li class="flex gap-5">
          <MapPin className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            800 Brickell Ave Ste 411A<br />
            FL, 33149<br />
            USA<br />
          </div>
        </li>
        <li class="flex gap-5">
          <MessageCircle className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            +1 (786) 7190106
          </div>
        </li>
        <li class="flex items-center justify-center gap-5">
          <Mail className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a href="mailto:ania@intercacao.com">ania@intercacao.com</a>
          </div>
        </li>
        <li class="flex gap-5">
          <Facebook className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a target="_blank" href="http://www.facebook.com/intercacao.web">Intercacao</a>
          </div>
        </li>
        <li class="flex gap-5">
          <Instagram className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a target="_blank" href="http://www.instagram.com/intercacaoweb/">intercacaoweb</a>
          </div>
        </li>
      </ul>
      <p class="text-xs font-thin">Copyrights © 2025 Intercacao Todos los derechos reservados.</p>
    </div>
  </div>
</Layout>
