---
import { Image } from 'astro:assets';

import Layout from '@/layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

import banner from '@/images/home/banner.webp';
import mundoDeSabores from '@/images/home/imagotipo-mundo-de-sabores.webp';
import lienzo from '@/images/home/lienzo-bg.webp';
import lienzoCacao from '@/images/home/lienzo-cacao-bg.webp';

import postGranoDeDacao from '@/images/home/post-grano-de-cacao.webp';
import postChloeDoutre from '@/images/home/post-chloe-doutre.webp';
import postIngAlexis from '@/images/home/post-ing-alexys.webp';
import postFundacionProsperi from '@/images/home/post-fundacion-prosperi.webp';
import postPintao from '@/images/home/post-pintao.webp';
import postTesoro from '@/images/home/post-tesoro.webp';

import mundoDeSaboresPanel from '@/images/home/mundo-de-sabores-panel.webp';
import lienzoMundoBg from '@/images/home/lienzo-mundo-bg.webp';
import logo from '@/images/global/logo.webp';
import logoInteracao from '@/images/global/logo-intercacao.webp';
import logoWhiteImagotipoCacaoGourmet from '@/images/global/logo-white-imagotipo-cacao-gourmet.webp';

import { CarouselPost } from '@/components/ui/carousel/Post';
import { ChocolateGallery } from '@/components/ChocolateGallery';
import { Mail, MapPin, Facebook, Instagram, MessageCircle } from 'lucide-react';
import { getLangFromUrl, useTranslations } from '@/assets/lib/i18n/utils';
import { TabsTransitionPanel } from '@/components/ui/transition-panel/TabsTransitionPanel';

const lang = getLangFromUrl(Astro.url);

const trans = useTranslations(lang);

const posts = [
  {
    title: trans('home').posts[0].title,
    description: trans('home').posts[0].description,
    image: {
      src: postGranoDeDacao.src,
      alt: trans('home').posts[0].image_alt,
    },
    url: `https://www.intercacao.com/${lang}/evaluacion/`,
  },
  {
    title: trans('home').posts[1].title,
    description: trans('home').posts[1].description,
    image: {
      src: postChloeDoutre.src,
      alt: trans('home').posts[1].image_alt,
    },
    url: `https://www.intercacao.com/${lang}/chloe-doutre-roussel/`,
  },
  {
    title: trans('home').posts[2].title,
    description: trans('home').posts[2].description,
    image: {
      src: postIngAlexis.src,
      alt: trans('home').posts[2].image_alt,
    },
    url: `https://www.intercacao.com/${lang}/ing-alexis-zambrano/`,
  },
  {
    title: trans('home').posts[3].title,
    description: trans('home').posts[3].description,
    image: {
      src: postFundacionProsperi.src,
      alt: trans('home').posts[3].image_alt,
    },
    url: 'http://fundacionprosperi.org/',
  },
  {
    title: trans('home').posts[4].title,
    description: trans('home').posts[4].description,
    image: {
      src: postPintao.src,
      alt: trans('home').posts[4].image_alt,
    },
  },
  {
    title: trans('home').posts[5].title,
    description: trans('home').posts[5].description,
    image: {
      src: postTesoro.src,
      alt: trans('home').posts[5].image_alt,
    },
  },
];

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'es' } }];
}
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} pubDate={new Date()} keywords="">
  <div class="overflow-hidden">
    <div
      id="section-home"
      class="relative size-dvw flex-1 md:w-full lg:w-full xl:h-screen xl:w-full"
    >
      <Image
        loading="eager"
        inferSize={true}
        src={trans('home').banner.src}
        alt={trans('home').banner.alt}
        class="h-full w-full object-cover object-center"
      />
      <Image
        loading="eager"
        inferSize={true}
        class="absolute top-10 left-25 w-15 md:top-20 md:left-20 md:w-30 lg:top-20 lg:left-20 lg:w-30 xl:top-20 xl:left-20 xl:w-30"
        src={trans('home').logo.src}
        alt={trans('home').logo.alt}
      />
    </div>

    <div
      class="flex w-full items-center justify-center p-10"
      style={`background-image: url(${lienzo.src});`}
    >
      <Image
        loading="lazy"
        inferSize={true}
        src={trans('home').mundo_de_sabores.src}
        alt={trans('home').mundo_de_sabores.alt}
        class="w-75 object-fill object-center"
      />
    </div>

    <div class="bg-primary h-5 w-full"></div>

    <div
      id="section-flavours"
      class="flex size-auto items-center justify-center md:w-full md:px-10 md:pb-10 lg:w-full lg:px-10 lg:pb-10 xl:w-full xl:px-10 xl:pb-10"
      style={`background-image: url(${lienzo.src});`}
    >
      <Image
        loading="lazy"
        inferSize={true}
        src={trans('home').mundo_de_sabores_panel.src}
        alt={trans('home').mundo_de_sabores_panel.alt}
        class="object-fill object-center shadow-2xl"
      />
    </div>

    <div id="section-gourmet" class="bg-primary h-auto w-full">
      <div class="flex w-full items-center justify-center pt-10">
        <Image
          loading="lazy"
          inferSize={true}
          src={trans('home').logo_white_imagotipo_cacao_gourmet.src}
          alt={trans('home').logo_white_imagotipo_cacao_gourmet.alt}
          class="w-75 object-fill object-center"
        />
      </div>
      <ChocolateGallery lang={lang} trans={trans('home').cocoa_gallery} client:load />
    </div>

    <div
      id="section-prosperi"
      class="bg-start flex h-auto min-h-screen w-full items-start justify-center overflow-hidden bg-no-repeat md:items-center lg:items-center xl:items-center"
      style={`background-image: url(${lienzoCacao.src});`}
    >
      <div
        class="flex h-full w-4/5 flex-col gap-10 p-10 md:w-1/2 md:pt-10 lg:w-1/2 lg:pt-10 xl:w-4/5 xl:pt-20"
      >
        <div class="h-full">
          <TabsTransitionPanel client:only="react" />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary h-5 w-full"></div>

  <div
    id="section-about"
    class="bg-start flex h-auto w-full items-start justify-center bg-no-repeat py-20 md:items-center lg:items-center xl:items-center"
    style={`background-image: url(${lienzoCacao.src});`}
  >
    <div
      class="flex w-4/5 flex-col items-center justify-center gap-10 p-10 md:w-1/2 md:p-0 lg:w-1/2 lg:p-0 xl:w-4/5 xl:p-0"
    >
      <div>
        <h1 class="text-4xl font-bold text-neutral-600 uppercase">{trans('home').about.title}</h1>
      </div>
      <div>
        <h3 class="py-4 text-3xl text-neutral-600 uppercase">
          {trans('home').about.subtitle}
        </h3>
      </div>
      <p class="text-lg">
        {trans('home').about.description}
      </p>
      <div class="flex h-150 w-full items-center justify-center gap-5">
        <iframe
          loading="lazy"
          allowfullscreen
          title="Intercacao"
          class="h-full w-full overflow-hidden rounded-lg"
          src="https://www.youtube.com/embed/7jUvTbe8DPE"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>
      </div>
      <div class="flex w-full items-center justify-center gap-5">
        <CarouselPost posts={posts} client:load />
      </div>
    </div>
  </div>

  <div class="bg-primary h-5 w-full"></div>

  <div
    id="section-contact"
    class="bg-start flex size-dvw h-auto items-center justify-center bg-no-repeat md:w-auto lg:w-auto xl:w-auto"
    style={`background-image: url(${lienzoMundoBg.src});`}
  >
    <div
      class="flex w-full flex-col items-center justify-center gap-10 py-30 md:w-1/2 lg:w-1/2 xl:w-1/2"
    >
      <Image class="w-60" src={logo} alt="Intercacao banner principal" />
      <ul class="flex flex-col items-start justify-start gap-5">
        <li class="flex gap-5">
          <MapPin className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            800 Brickell Ave Ste 411A<br />
            FL, 33149<br />
            USA<br />
          </div>
        </li>
        <li class="flex gap-5">
          <MessageCircle className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            +1 (786) 7190106
          </div>
        </li>
        <li class="flex items-center justify-center gap-5">
          <Mail className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a href="mailto:ania@intercacao.com">ania@intercacao.com</a>
          </div>
        </li>
        <li class="flex gap-5">
          <Facebook className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a target="_blank" href="http://www.facebook.com/intercacao.web">Intercacao</a>
          </div>
        </li>
        <li class="flex gap-5">
          <Instagram className="size-8 md:size-14 lg:size-14 xl:size-14" />
          <div class="text-primary text-lg md:text-2xl lg:text-3xl xl:text-3xl">
            <a target="_blank" href="http://www.instagram.com/intercacaoweb/">intercacaoweb</a>
          </div>
        </li>
      </ul>
      <p class="text-xs font-thin">Copyrights © 2025 Intercacao Todos los derechos reservados.</p>
    </div>
  </div>
</Layout>
