---
import Layout from "./../../layouts/Main.astro";
import { Image } from "astro:assets";

import ChuaoWeb from "../../images/chuao/chuao-web.jpg";
import ratingStars from "../../images/chuao/rating-stars-cut.png";
import clasificacion from "../../images/chuao/clasificacion-rating.png";
import equipoCata from "../../images/chuao/equipo-de-cata.jpg";
import cuencaCacao from "../../images/chuao/cuenca-de-cacao.jpg";
import corteChuao from "../../images/chuao/corte-chuao.jpg";
import ruedaSabores from "../../images/chuao/rueda-de-sabores.png";
import mapaSensorial from "../../images/chuao/mapa-perfil-sensorial-chuao.png";
import semillaPorcelana from "../../images/chuao/semililla-porcelana-uno.png";
import semillaPorcelanaDos from "../../images/chuao/semililla-porcelana-dos.png";
import protocoloFermentacion from "../../images/chuao/protocolo-fermentacion.jpg";
import protocoloSecado from "../../images/chuao/protocolo-secado.jpg";
import corteChuaoTrinitario from "../../images/chuao/corte-chuao-trinitario.png";
import corteChuaoCriollo from "../../images/chuao/corte-chuao-criollo.png";
import certificadoOrigen from "../../images/chuao/certificado-de-origen-chuao.jpg";
import agricultores from "../../images/chuao/chuao-agricultores.jpeg";
import mosaico from "../../images/chuao/chuao-mosaico.jpeg";
import mapa from "../../images/chuao/mapa-chuao.jpg";
import ubicacion from "../../images/chuao/ubicacion-ecologia.jpg";
import ubicacion2 from "../../images/chuao/ubicacion-henry-pittier.jpg";
import historia from "../../images/chuao/historia-pueblo-iglesia-sepia.jpg";
import historia2 from "../../images/chuao/historia-dime-chuao-pared.jpg";
import RespSocial from "../../images/chuao/responsabilidad-social-fundacion-prosperi-color.png";
import RespSocial2 from "../../images/chuao/responsabilidad-social-regreso-al-agro-color.png";

import { Progress } from "@/components/progress";
import { Header } from "@/components/header";
---

<Layout
  title="Intercacao Europe Bv | Cacao de Chuao"
  description="Descubre el Cacao de Chuao, reconocido mundialmente por su calidad y sabor excepcionales. Conoce su proceso de producción sostenible, desde la cosecha hasta la fermentación, y explora las tradiciones culturales de la comunidad que lo cultiva. Sumérgete en la rica historia del cacao venezolano y su impacto en la industria gourmet."
  pubDate={new Date()}
  keywords="Cacao de Chuao, cacao trinitario, cacao criollo, granos de cacao, análisis de corte, características organolépticas, sabor a cacao, aroma floral, fermentación del cacao, técnicas de secado, trazabilidad del cacao, certificado de origen, cosecha de cacao, producción sostenible, agricultura en Venezuela, historia del cacao en Chuao, folklore venezolano, comunidad de Chuao, responsabilidad social, Fundación Prosperi, mapa sensorial del cacao, cacao gourmet, cacao artesanal, cultura del cacao, cacao de alta calidad, tradiciones de Chuao"
>
  <article class="w-full overflow-x-hidden overflow-y-auto">
    <Header client:load/>
    <!-- <nav class="fixed top-0 left-0 z-50 bg-white p-10">
      <ul>
        <li><a href="#section-one">Sección 1</a></li>
        <li><a href="#section-two">Sección 2</a></li>
        <li><a href="#section-three">Sección 3</a></li>
        <li><a href="#section-four">Sección 4</a></li>
        <li><a href="#section-five">Sección 5</a></li>
        <li><a href="#section-six">Sección 6</a></li>
        <li><a href="#section-seven">Sección 7</a></li>
      </ul>
    </nav> -->
    <div
      class="flex h-auto w-full xl:flex-row lg:flex-row md:flex-row flex-col flex-wrap bg-gray-200"
    >
      <div class="xl:h-screen xl:w-auto lg:w-auto md:w-auto size-auto flex-1">
        <Image
          inferSize={true}
          class="h-full w-full object-cover object-center"
          src={ChuaoWeb}
          alt="portadad de chuaco cacao"
        />
      </div>
      <div
        class="xl:h-screen xl:w-lg lg:w-lg md:w-lg w-full flex-none bg-neutral-700 px-20 py-10 text-white"
      >
        <div class="flex flex-col gap-7 text-base font-thin">
          <div>
            <p
              class="flex xl:flex-wrap lg:flex-wrap md:flex-wrap justify-between gap-2"
            >
              <span>EVALUACIÓN</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span
                class="flex items-center justify-between xl:gap-5 lg:gap-5 md:gap-5 gap-2"
                >5.0
                <Image
                  inferSize={true}
                  class="h-full w-30 object-fill"
                  src={ratingStars}
                  alt="5.0"
                />
              </span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span>AFRUTADO DULCE</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span>2.6</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>AFRUTADO CÍTRICO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span>4.0</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>AFLORADO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span>0.5</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>ACRIOLLADO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 3.4</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>CACAO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 3.6</span>
            </p>
            <p class="flex flex-wrap justify-between gap-2">
              <span>BOSCOSO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 0.8</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>ESPECIAS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span>0.6</span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span>PRODUCCIÓN ANUAL (TM)</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 25</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>COSECHA PRINCIPAL</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> DIC-MAR </span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>COSECHA MEDIA</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> JUN-JUL</span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span> GRANOS CRIOLLOS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 22%</span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span>GRANOS FERMENTADOS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>

              <span> 90%</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>GRANOS VIOLETAS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>

              <span> 6%</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>GRANOS PIZARROSOS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>

              <span> 2%</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>TOTAL</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>

              <span> 100%</span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span> Granos / <b>100 g</b>:</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 83</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>g<b>.</b>/1 Grano:</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> 1,20 g</span>
            </p>
          </div>

          <div class="flex flex-col gap-0.5">
            <p class="flex flex-wrap justify-between gap-2">
              <span>CERTIFICADO</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> SI</span>
            </p>

            <p class="flex flex-wrap justify-between gap-2">
              <span>PREMIOS</span>
              <span
                class="mb-2 flex-grow border-b border-dashed border-gray-300"
              ></span>
              <span> NO</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <section id="section-one" class="xl:px-50 lg:px-50 md:px-50 px-5">
      <div class="my-10 flex flex-col gap-5">
        <h1 class="text-4xl font-bold text-neutral-600 uppercase">
          Características Físicas y Organolépticas
        </h1>
        <h3 class="py-4 text-3xl text-neutral-600 uppercase">
          Sabores Positivos
        </h3>
        <div
          class="flex w-full xl:flex-row lg:flex-row md:flex-row flex-col gap-5 pb-10"
        >
          <div class="w-auto flex-1 flex flex-col gap-4 justify-start">
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-red-500"
                value={70}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Afrutado Dulce</span>
                  <span>3.5</span>
                </div>
              </Progress>
              <p class="text-lg">Uvas pasas • Ciruelas pasas</p>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-amber-500"
                value={100}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Afrutado Cítrico</span>
                  <span>5.0</span>
                </div>
              </Progress>
              <p class="text-lg">Naranja</p>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-pink-500"
                value={36}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Aflorado</span>
                  <span>2.0</span>
                </div>
              </Progress>
              <p class="text-lg">Naranja • Mandarina</p>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-yellow-500/50"
                value={70}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Acriollado</span>
                  <span>3.5</span>
                </div>
              </Progress>
              <p class="text-lg">
                Malta • Caña de azúcar • Panela • Maní tostado • Almendras •
                Nuez • Caramelo
              </p>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-yellow-900"
                value={57}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Cacao</span>
                  <span>3.0</span>
                </div>
              </Progress>
              <p class="text-lg">Cacao</p>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full pb-5">
              <Progress
                className="border-l-12 border-l-lime-300"
                value={0}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Boscoso</span>
                  <span>0.0</span>
                </div>
              </Progress>
            </div>
            <div class="flex flex-col gap-1 justify-between w-full">
              <Progress
                className="border-l-12 border-l-yellow-300"
                value={0}
                client:load
              >
                <div
                  class="h-full flex flex-row justify-between items-center text-white px-5"
                >
                  <span class="uppercase">Especias</span>
                  <span>0.0</span>
                </div>
              </Progress>
            </div>
          </div>
          <div class="w-md flex-none rounded-lg"></div>
        </div>

        <div
          class="flex h-auto w-full xl:flex-row lg:flex-row md:flex-row flex-col gap-5"
        >
          <div class="flex w-auto flex-1 flex-col gap-5">
            <h3 class="text-3xl text-neutral-600">EVALUACIÓN</h3>
            <div class="h-70 w-full flex-none">
              <Image
                inferSize={true}
                class="h-full w-full object-contain object-left-bottom"
                src={clasificacion}
                alt="Clasificacion de Chuao"
              />
            </div>
            <div class="w-full flex-1">
              <div class="flex flex-wrap">
                <p class="w-50 uppercase font-bold">S = Sabor:</p>
                <p class="text-sm">
                  <b class="pr-3 text-base">FUERTE</b>
                  Denota sabor a frutos secos
                </p>
              </div>
              <div class="flex">
                <p class="w-50 uppercase font-bold">A = Aroma:</p>
                <p class="text-sm">
                  <b class="pr-3 text-base">FUERTE</b> Notas pronunciadas a esencias
                  afrutadas y florales
                </p>
              </div>
              <div class="flex flex-wrap">
                <p class="w-50 uppercase font-bold">F = Fermentación:</p>
                <p class="text-sm">
                  <b class="pr-3 text-base">ALTAB</b> ajos niveles de astringencia
                  y amargura
                </p>
              </div>
            </div>
            <div class="flex gap-5">
              <h2>
                <i> Fuente: </i>
              </h2>
              <div>
                <p class="text-blue-500">
                  <em>
                    <a href="http://www.intercacao.com/ing-gladys-ramos/"
                      >Ing. Ms. Gladys Ramos</a
                    ></em
                  >
                </p>
                <p class="text-blue-500">
                  <em
                    ><a href="http://www.intercacao.com/evaluacion/"
                      >Manual de Evaluación</a
                    ></em
                  >
                </p>
              </div>
            </div>
            <div class="flex h-full w-full flex-row gap-5"></div>
          </div>
          <div
            class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-none rounded-lg bg-neutral-300 overflow-hidden"
          >
            <Image
              inferSize={true}
              class="h-full w-full object-contain object-left-bottom"
              src={equipoCata}
              alt="Equipo Cata"
            />
          </div>
        </div>
      </div>

      <div
        class="my-10 flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5"
      >
        <div
          class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 rounded-lg bg-neutral-300 overflow-hidden"
        >
          <Image
            inferSize={true}
            class="h-full w-full object-contain object-left-bottom"
            src={cuencaCacao}
            alt=""
          />
        </div>
        <div
          class="flex xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 flex-col gap-5"
        >
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">
            Análisis de Corte
          </h3>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                El cacao de Chuao debido a su genética trinitaria con alta
                descendencia criolla, produce hasta un 40% de granos blancos que
                le proporcionan su calidad y aroma.
              </b>
            </i>
          </p>
          <p class="text-lg">
            El grano posee unas cualidades físicas específicas debido a los
            tipos genéticos que adquiere del grano trinitario con alta
            introgresión criolla.
          </p>
          <p class="text-lg">
            La tonalidad que predomina en el aspecto de la semilla varía entre
            color caoba, canela y caramelo.
          </p>
          <p class="text-lg">
            Su análisis de corte posee granos fermentados (± 86%),con granos
            violetas (±8%) y granos pizarrosos (±6%).
          </p>
          <p class="text-lg">
            En relación a su peso generalmente los granos contienen 69 almendras
            sobre un peso de 100 gr,es decir que cada almendra pesa 1,45 gr.
          </p>
        </div>
      </div>
    </section>

    <section
      id="section-two"
      class="xl:h-screen lg:h-screen md:h-screen h-full xl:w-screen lg:w-screen md:w-screen w-full bg-gray-400"
    >
      <Image
        inferSize={true}
        class="h-full w-full object-fill object-center"
        src={corteChuao}
        alt="corte Chuao"
      />
    </section>

    <section id="section-three" class="xl:px-50 lg:px-50 md:px-50 px-5">
      <div
        class="my-10 flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5"
      >
        <div
          class="flex xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 flex-col gap-5"
        >
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">
            Mapa de Sabores
          </h3>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b
                >"Sus cualidades de aroma y sabor son moldeadas por el medio
                geográfico, la condición agroclimática, por la cercanía a la
                costa aunado a lo que un beneficio post cosecha muy particular
                ancestral donde se controlan remociones, volteos y buen drenaje
                de exudados, así como la entrega de sus productores en el manejo
                agronómico, le confieren la denominación del mejor y más costoso
                cacao del mundo"
              </b>
              , indicó la Ing. Ms. Gladys Ramos, investigadora en Ciencias Agrícolas.
            </i>
          </p>
          <p class="text-lg">
            El prodigioso Cacao de Chuao posee un sabor único e interesante que
            motiva un sentimiento sublime, producto de una genética inigualable.
          </p>
          <p class="text-lg">
            Como principales características organolépticas destacan una
            moderada intensidad de sabor a cacao de 4 en una escala de 0 a 10,
            con acidez cítrica limpia de frutos tropicales y la dulzura de
            frutos negros como ciruelas pasas (por el proceso realizado en
            sombra) manteniendo un bajo nivel de astringencia.
          </p>
        </div>
        <div
          class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 rounded-lg flex justify-center items-center"
        >
          <Image
            inferSize={true}
            class="object-fill object-center"
            src={ruedaSabores}
            alt=""
          />
        </div>
      </div>
    </section>

    <section id="section-four" class="xl:px-50 lg:px-50 md:px-50 px-5">
      <div
        class="my-10 flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5"
      >
        <div
          class="flex xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 flex-col gap-5"
        >
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">
            Mapa Sensorial
          </h3>
          <p class="text-justify text-lg">
            Emana un aroma con un alto nivel de fragancia que lo diferencia de
            muchos otros con esencias florales como naranjo, mandarinas y notas
            afrutadas como ciruelas pasas.
          </p>
          <p class="text-lg">
            El destacado grano tiene como particularidad esencial una sensación
            cremosa, suave y aterciopelada, (mouthfeel) ,ya que se disuelve en
            la boca, evocando el privilegio de la invisibilidad, su denso sabor
            llena el retrogusto y concede un prominente nivel de permanencia de
            sabor a chocolate, nueces y avellanas en la cavidad bucal.
          </p>
        </div>
        <div class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 rounded-lg">
          <Image
            inferSize={true}
            class="object-fill object-center"
            src={mapaSensorial}
            alt="mapa Sensorial de sabor"
          />
        </div>
      </div>
    </section>

    <section
      id="section-five"
      class="flex w-full flex-col gap-5 bg-neutral-100 xl:px-50 lg:px-50 md:px-50 px-5 py-10"
    >
      <h1 class="text-4xl font-bold text-neutral-600 uppercase">
        Beneficio Post Cosecha
      </h1>

      <p class="px-3 text-justify text-lg border-x border-black">
        <i>
          <b>
            Para el desarrollo del producto Cacao Chuao se deben cumplir las
            siguientes etapas, comenzando con el proceso de cosecha que se
            ejecuta mediante la colecta del fruto con machete o con
            desgarretadera si la rama es muy alta; una vez recopilado el
            producto se transporta al sitio donde se realizará el proceso de
            quiebre, extracción de granos y su fermentación.
          </b>
        </i>
      </p>

      <div class="flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5">
        <div class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1">
          <h2 class="py-4 text-3xl text-neutral-600 uppercase">
            Protocolo de Refinamiento
          </h2>
          <h3 class="border-b text-xl font-bold mb-3 pb-2">Tipo de Cacao</h3>
          <div class="flex items-center justify-start gap-5">
            <Image
              inferSize={true}
              class="size-24"
              src={semillaPorcelanaDos}
              alt="semilla porcelana"
            />
            <p class="text-lg">Trinitario</p>
          </div>

          <div class="flex items-center justify-start gap-5">
            <Image
              inferSize={true}
              class="size-20"
              src={semillaPorcelana}
              alt="semilla porcelana"
            />
            <p>Criollo</p>
          </div>

          <div class="w-full py-3">
            <h3 class="border-b text-xl font-bold mb-3 pb-2">
              Días de Fermentación
            </h3>
            <p class="px-10 text-lg">4 a 5 días</p>
          </div>

          <div>
            <h3 class="border-b text-xl font-bold mb-3 pb-2">
              Técnicas de Fermentación
            </h3>
            <ul class="list-disc flex flex-col gap-3 px-10">
              <li>
                <p class="text-lg">Tipo de cajon: Madera</p>
              </li>
              <li>
                <p class="text-lg">Frecuencia de volteos: cada 24 horas</p>
              </li>
              <li>
                <p class="text-lg">
                  Forma de Fermentación: se inicia distribuyendo los granos en
                  baba sobre hojas de cambur o plátano, donde el fruto es
                  partido en seis cajones de madera, con paredes laterales
                  removibles.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 rounded-lg overflow-hidden"
        >
          <Image
            inferSize={true}
            src={protocoloFermentacion}
            class="object-fill object-center rounded-lg"
            alt="protocolo de fermentacion"
          />
        </div>
      </div>

      <div class="flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5">
        <div class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1">
          <h2 class="py-4 text-3xl text-neutral-600 uppercase">
            Protocolo de Secado
          </h2>

          <div class="flex flex-row gap-5">
            <div class="w-2/4 flex-1">
              <h3 class="border-b text-xl font-bold mb-3 pb-2">
                Tipo de Cacao
              </h3>
              <div class="flex items-center justify-start gap-5">
                <Image
                  inferSize={true}
                  class="size-24"
                  src={corteChuaoTrinitario}
                  alt="semilla porcelana"
                />
                <p class="text-lg">Trinitario</p>
              </div>

              <div class="flex items-center justify-start gap-5">
                <Image
                  inferSize={true}
                  class="size-20"
                  src={corteChuaoCriollo}
                  alt="semilla porcelana"
                />
                <p>Criollo</p>
              </div>

              <div class="w-full py-3">
                <h3 class="border-b text-xl font-bold mb-3 pb-2">
                  Días de Secado
                </h3>
                <p class="px-10 text-lg">4 a 5 días</p>
              </div>

              <div>
                <h3 class="border-b text-xl font-bold mb-3 pb-2">
                  Técnicas de Secado
                </h3>
                <ul class="list-disc flex flex-col gap-3 px-10">
                  <li>
                    <p class="text-lg">Tipo de piso: cemento / concreto</p>
                  </li>
                  <li>
                    <p class="text-lg">Humedad: 7,5%</p>
                  </li>
                  <li>
                    <p class="text-lg">Forma de Secado: Al Sol</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5 justify-between items-center flex-1">
          <div class="w-full flex-none rounded-lg bg-neutral-300">
            <Image
              inferSize={true}
              class="object-fill object-center rounded-lg"
              src={protocoloSecado}
              alt="protocolo de secado"
            />
          </div>

          <div class="w-full h-100 flex-none">
            <iframe
              class="w-full h-full rounded-lg overflow-hidden"
              src="https://www.youtube.com/embed/RXWVmyqSa2o"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>

          <p class="text-lg">
            El procedimiento lo realizan las mujeres del sector, las cuales
            aplican la amplia experiencia y conocimiento que poseen de la
            materia, evalúan el color y las condiciones climáticas, para la
            óptima condición del producto final.
          </p>
        </div>
      </div>
    </section>

    <section
      id="section-six"
      class="flex w-full flex-col gap-5 xl:px-50 lg:px-50 md:px-50 px-5 py-10"
    >
      <h1 class="text-4xl font-bold text-neutral-600 uppercase">
        Trazabilidad
      </h1>
      <div class="my-3 flex xl:flex-row lg:flex-row md:flex-row flex-col gap-5">
        <div
          class="flex xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 flex-col gap-5"
        >
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">
            certificaciones y premios
          </h3>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                Certificado de origen y trazabilidad que avala la procedencia
                del grano de cacao.
              </b>
            </i>
          </p>
          <p class="text-lg">
            Nosotros en unión con La empresa Campesina Chuao garantizamos un
            Certificado de Origen y trazabilidad que avala la autenticidad y
            procedencia del distinguido grano.
          </p>
          <p class="text-lg">
            La población total de la parroquia Chuao se ha estimado
            aproximadamente en 2.331 habitantes nativos del sector, de los
            cuales 125 se dedican a la producción del cacao. Todos son miembros
            activos de la Asociación de productores y artesanos de la zona,
            constituida como Empresa Campesina Chuao.
          </p>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                La mayoría de los habitantes de Chuao provienen de los antiguos
                esclavos afrodescendientes que actualmente se dedican a difundir
                de generación en generación la tradición y el amor desde la
                siembra del cacao, hasta el último paso de producción del
                exquisito fruto.
              </b>
            </i>
          </p>
          <p class="text-lg">
            En Chuao, el trabajo y dedicación a la tierra es ejecutada por
            familias donde predomina como actividad económica principal, el
            cultivo de cacao. Es realizado en su mayoría por mujeres, las cuales
            poseen el privilegio de producir el mejor cacao del mundo con
            técnicas comprobadas, experiencia y en ocasiones, acompañado de un
            canto para animar la valiosa faena del cultivo de tan fino producto.
          </p>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                Los moradores del sector habitan en viviendas dignas,
                organizadas y distribuidas alrededor de la superficie con una
                unidad productiva de 287,4 hectáreas que comprenden 162 Ha en
                producción del fruto, obteniendo un promedio de 25 Tm de cacao
                al año.
              </b>
            </i>
          </p>
          <p class="text-lg">
            Como segunda actividad de importancia para la comunidad trabajan la
            pesca de mar, seguidamente el turismo y el comercio, utilizando como
            medio de transporte imprescindible, los botes y lanchas que anclan
            en el rio el cual desemboca de las entrañables montañas del mágico
            pueblo.
          </p>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                En Chuao se destacan tres temporadas de cosecha como la
                Pascuera, Cuaresmera y Sanjuanera, siendo esta última la más
                extensa durante el mes de junio.
              </b>
            </i>
          </p>
          <p class="text-lg">
            La transformación del producto se realiza mediante la unión de los
            productores que conforman la Cooperativa campesina Chuao quienes
            cosechan, fermentan y secan de manera organizada el grano del cacao.
            Ellos se dividen en dos equipos, el de cosecha los cuales aplican la
            fase de siembra realizada por alineamiento, luego el riego
            artificial de la plantación la cual se realiza con agua de rio. El
            otro grupo de mantenimiento realiza el proceso de deschuponado y
            poda donde los trabajadores se distribuyen en 73 mujeres y 50
            hombres, reafirmando que la labor es dominada por las ancestrales
            féminas.
          </p>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                El sistema de riego en Chuao es artificial se efectúa por
                inundación o escurrimiento, construyéndose tomas en el río para
                derivar en acequias y mediante canales que llegan a todas las
                plantas. El drenaje es estupendo por las condiciones de valle
                que drena hacia el mar, manteniendo siempre una óptima
                pendiente.
              </b>
            </i>
          </p>
          <p class="text-lg">
            Una vez realizado todo el proceso de beneficio, los granos son
            seleccionados y empacados en sacos de fique nuevos de 61 kg para
            luego ser despachados en camiones hasta el muelle de Chuao y ser
            trasladado en lanchas hasta Puerto Colombia, Choroní, donde siguen
            su camino hacia los almacenes de los comercializadores.
          </p>
        </div>
        <div
          class="xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex-1 flex flex-col gap-3 justify-start items-center"
        >
          <div
            class="size-auto flex-none rounded-lg overflow-hidden bg-neutral-300 p-1"
          >
            <Image
              inferSize={true}
              src={certificadoOrigen}
              alt="certificado de origen"
              class="object-fill object-center rounded-lg"
            />
          </div>
          <div
            class="size-auto flex-none rounded-lg overflow-hidden bg-neutral-300"
          >
            <Image
              inferSize={true}
              src={agricultores}
              alt="Agricultores"
              class="object-fill object-center rounded-lg"
            />
          </div>
          <div
            class="size-auto flex-none rounded-lg overflow-hidden bg-neutral-300"
          >
            <Image
              inferSize={true}
              src={mosaico}
              alt="Mosaico"
              class="object-fill object-center rounded-lg"
            />
          </div>
        </div>
      </div>
    </section>

    <section
      id="section-seven"
      class="flex w-full flex-col gap-5 bg-neutral-200 xl:px-50 lg:px-50 md:px-50 px-5 py-10"
    >
      <h1 class="text-4xl font-bold text-neutral-600 uppercase">
        Ubicación Geográfica y su Ecología
      </h1>

      <div
        class="flex xl:flex-row lg:flex-row md:flex-row flex-col w-full gap-5 py-5"
      >
        <div class="flex-1 xl:w-2/4 lg:w-2/4 md:w-2/4 w-full">
          <div class="size-auto flex-none rounded-lg bg-neutral-300">
            <Image
              inferSize={true}
              src={mapa}
              alt="mapa de Chuao"
              class="object-fill object-center rounded-lg"
            />
          </div>
        </div>
        <div class="flex-1 xl:w-2/4 lg:w-2/4 md:w-2/4 w-full">
          <h2 class="py-4 text-3xl text-neutral-600 uppercase">
            Ubicación Geográfica
          </h2>
          <ul class="flex flex-col gap-5 text-lg">
            <li>
              <b> País: </b>
              Venezuela
            </li>
            <li>
              <b> Estado: </b>
              Aragua
            </li>
            <li>
              <b> Municipio: </b>
              Santiago Mariño
            </li>
            <li>
              <b> Superficie: </b>
              160 km2
            </li>
            <li>
              <b> Altitud promedio: </b>
              254 m (833 pies)
            </li>
            <li>
              <b> Coordenadas GPS: </b>
              10º29´36”N 67º31´38”W
            </li>
            <li>
              <b> Habitantes: </b>
              2331
            </li>
          </ul>
        </div>
      </div>

      <p class="text-lg">
        La parroquia Chuao está situada en el corazón del valle intermontano de
        la Cordillera de Costa Venezolana específicamente en el Estado Aragua,
        se encuentra a 6 km del mar Caribe y pertenece al Parque nacional Henri
        Pittier.
      </p>

      <p class="text-lg">
        Para trasladarse a Chuao es exclusivamente por vía marítima y para ello
        existen dos caminos, uno es Choroní, donde se toma la lancha con un
        recorrido de 25 minutos y la otra opción es atravesando las montañas que
        rodean el picacho de Turmero hacia el parque, por la ruta del cacao.
      </p>

      <div
        class="flex xl:flex-row lg:flex-row md:flex-row flex-col w-full gap-5"
      >
        <div
          class="flex-1 xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex flex-col gap-5"
        >
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">Ecología</h3>
          <p class="text-lg">
            La diversidad de Fauna existente se deriva por la ubicación que
            delimita el pueblo de Chuao con el parque nacional Henri Pittier, su
            sistema ecológico es rico y abundante aunado a la temperatura y
            pluviosidad que rige 27°C y 1.000 mm respectivamente.
          </p>
          <p class="text-lg">
            Con una gran variedad de especies de aves y especies endémicas, se
            han reportado unas 140 especies de mamíferos y 580 tipos de aves,
            entre los más representativos se encuentran: el halcón peregrino, la
            golondrina, el águila arpía, el águila solitaria, la polla de
            Wetmore, el paují copete de piedra, la guacharaca, el sorocuá
            acorallado, el guacamayo verde y el cardenalito, sólo por citar
            algunos ejemplos.
          </p>
          <p class="text-lg">
            Por formar parte del Parque Nacional Henri Pittier las especies
            vegetales que predominan en el bosque nublado alcanza hasta la
            actualidad 150 especies diferentes de árboles en un área de 0,25 ha,
            y donde el “niño” o cucharón es la especie de árbol más
            representativa.
          </p>
        </div>
        <div
          class="flex-1xl:w-2/4 lg:w-2/4 md:w-2/4 w-full flex flex-col gap-5"
        >
          <div class="size-auto flex-none rounded-lg bg-neutral-300">
            <Image
              inferSize={true}
              src={ubicacion2}
              alt="ubicacion de Chuao"
              class="object-fill object-center rounded-lg"
            />
          </div>
          <div class="size-auto flex-none rounded-lg bg-neutral-300">
            <Image
              src={ubicacion}
              alt="ubicacion de Chuao"
              class="object-fill object-center rounded-lg"
            />
          </div>
        </div>
      </div>
    </section>

    <section
      id="section-eight"
      class="flex w-full flex-col gap-5 xl:px-50 lg:px-50 md:px-50 px-5 py-10"
    >
      <h1 class="text-4xl font-bold text-neutral-600 uppercase">Historia</h1>
      <div
        class="flex xl:flex-row lg:flex-row md:flex-row flex-col w-full gap-8"
      >
        <div
          class="flex-none xl:w-90 lg:w-90 md:w-90 w-full flex flex-col gap-5"
        >
          <div class="size-90 flex-none rounded-lg bg-neutral-300">
            <Image
              inferSize={true}
              src={historia}
              alt="historia de Chuao"
              class="object-fill object-center rounded-lg"
            />
          </div>
          <div class="size-90 flex-none rounded-lg">
            <Image
              inferSize={true}
              src={historia2}
              alt="historia de Chuao"
              class="object-fill object-center rounded-lg"
            />
          </div>
        </div>
        <div class="flex-1 w-full flex flex-col gap-5">
          <p class="text-lg">
            Por más de 450 años Chuao ha tenido el privilegio de producir cacao,
            el origen del cultivo en la costa aragüeña se remontan al siglo
            XVII, siendo sus habitantes originarios de la Etnia Caribe, nativos
            americanos "indígenas", quienes de manera brutal fueron casi
            absolutamente exterminados por los colonizadores españoles.
          </p>
          <p class="text-lg">
            Posteriormente con la llegada del encomendado Cristóbal Mejía, se
            exploran nuevas tierras en el cálido valle y comienza lo que fue el
            impulso en plantación y marca una escala definitiva de hacienda
            mediante la incorporación de la fuerza de trabajo del esclavo
            afrodescendiente, conformando así un nuevo tipo de explotación.
          </p>
          <p class="text-lg">
            En 1671 la Hacienda de Chuao es donada a la Iglesia para su
            administración y comienza a ser conocida como "La Obra Pía de
            Chuao".
          </p>
          <p class="text-lg">
            En 1671 la Hacienda de Chuao es donada a la Iglesia para su
            administración y comienza a ser conocida como "La Obra Pía de
            Chuao".
          </p>
          <p class="text-lg">
            Ciento cincuenta y seis años después, en 1827, como resultado de la
            lucha independentista finaliza la Obra Pía y por decreto del
            Libertador Simón Bolívar la Hacienda Chuao pasa a ser patrimonio de
            la Universidad de Caracas, hoy Universidad Central de Venezuela.
          </p>
          <p class="px-3 text-justify text-lg border-x border-black">
            <i>
              <b>
                Chuao está rodeado por un sistema montañoso, de selva nublada y
                ambiente estuarino ,es ideal para la producción de la semilla de
                más alta calidad en el mundo.
              </b>
            </i>
          </p>
          <p class="text-lg">
            En 1883 el General Guzmán Blanco, entonces presidente de la
            República, despoja a la institución de esta propiedad. Ésta luego
            pasa a manos del dictador Juan Vicente Gómez durante su presidencia.
            Al culminar el periodo, la Hacienda pasa a manos de la Nación y
            comienza a ser administrada por el Instituto Agrario Nacional (IAN)
            hasta 1976, cuando este organismo adscrito al Ministerio de
            Agricultura (MAC) impulsa la creación de la Empresa Campesina Chuao,
            la cual es conformada por los campesinos residentes en la vieja
            hacienda y les otorga la propiedad colectiva.
          </p>
        </div>
      </div>
      <p class="text-lg">
        Durante el recorrido del boscoso camino de la playa hacia el pueblo se
        pueden observar los extensos lotes de terrenos cubiertos de las plantas
        de cacao que deleita a grandes y pequeños dejando al mar como testigo de
        las mejores cosechas.
      </p>
      <p class="text-lg">
        Chuao es un pueblo próspero, alegre y considerado por muchos como el
        bendecido valle de las costas aragüeñas que celebra durante las
        festividades de San Juan Bautista así como también los diablos danzantes
        (corpus christi) tradiciones representativas del folklore venezolano
        realizadas durante el mes de junio. Dichas costumbres amplían el alma y
        aunado a ello este pueblo nos deleita el paladar con el sabor de su
        inconfundible cacao.
      </p>
    </section>

    <section
      id="section-nine"
      class="bg-neutral-100 flex w-full flex-col gap-5 xl:px-50 lg:px-50 md:px-50 px-5 py-10 pt-10 pb-20"
    >
      <h1 class="text-4xl font-bold text-neutral-600 uppercase">
        Responsabilidad Social
      </h1>
      <p class="text-lg">
        El objetivo primordial es colaborar, enriquecer y ser promotor de las
        buenas prácticas agrícolas en la generación de relevo de la comunidad,
        gracias al aporte y unión con la FUNDACION PROSPERI, fundación sin fines
        de lucro, que mantiene el compromiso de difundir los valores históricos,
        culturales y agrícolas de Venezuela, a través de sus programas
        educativos como “Regreso al agro”, se logra demostrar que el cultivo de
        cacao es una profesión rentable, que genera un cambio social.
      </p>
      <div class="flex justify-center items-center gap-5 py-10">
        <div
          class="xl:w-110 lg:w-110 md:w-110 w-full flex-none rounded-lg flex flex-col justify-center items-center gap-20"
        >
          <Image
            inferSize={true}
            src={RespSocial}
            alt="Responsabilidad social"
            class="object-fill object-center rounded-lg"
          />
          <Image
            inferSize={true}
            src={RespSocial2}
            alt="Chuao social"
            class="w-60 object-fill object-center rounded-lg"
          />
        </div>
      </div>
    </section>
  </article>
</Layout>

<script>
  const links = document.querySelectorAll("nav a");

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault(); // Evita el comportamiento por defecto del enlace
      const targetId = link.getAttribute("href")?.substring(1); // Obtiene el ID del destino
      const targetElement = document.getElementById(targetId);

      // Aplicamos una clase para iniciar la animación CSS
      targetElement?.classList.add("active");

      // Desplazamiento suave
      window.scrollTo({
        top: targetElement?.offsetTop,
        behavior: "smooth",
      });
    });
  });
</script>
