---
import Layout from '@/layouts/CocoaLayout.astro';
import { Image } from 'astro:assets';

import corte from '@/images/huila/corte2.webp';

import GeneralInformation from '@/components/template/GeneralInformation.astro';
import Characteristics from '@/components/template/Characteristics.astro';
import CocoaMap from '@/components/template/CocoaMap.astro';
import PostHarvestBenefit from '@/components/template/PostHarvestBenefit.astro';
import Traceability from '@/components/template/Traceability.astro';
import Location from '@/components/template/Location.astro';
import History from '@/components/template/History.astro';
import SocialResponsibility from '@/components/template/SocialResponsibility.astro';

import data from '@/data/huila/data';

const {
  generalInformation,
  characteristics,
  cocoaMap,
  postHarvestBenefit,
  traceability,
  location,
  history,
  socialResponsibility,
} = data(Astro);

export async function getStaticPaths() {
  return [{ params: { locale: 'eng' } }, { params: { locale: 'es' } }];
}
---

<Layout
  title="Cacao Huila Fino | Cacao Gourmet | Intercacao Europe Bv"
  description="Descubre el Cacao Huila Fino, un cacao gourmet de 4.5 estrellas con notas de frutas dulces (3.5/5), cítricos (3.0/5) y un perfil de cacao intenso (4.0/5). Cultivado en Colombia, este cacao fino destaca por sus notas florales (1.0/5) y un perfil criollo moderado (2.5/5). Conoce su proceso de producción sostenible, trazabilidad y el impacto social en la región."
  pubDate={new Date()}
  keywords="Cacao Huila, cacao fino, cacao gourmet, cacao colombiano, notas de frutas dulces, notas cítricas, perfil de cacao, notas florales, perfil criollo, análisis sensorial del cacao, cacao de alta calidad, producción sostenible, trazabilidad del cacao, cacao artesanal, fermentación del cacao, secado del cacao, certificación de origen, historia del cacao, cultura del cacao, responsabilidad social"
>
  <article class="w-full overflow-x-hidden overflow-y-auto">
    <!-- @ts-ignore -->
    <GeneralInformation generalInformation={generalInformation} traceability={traceability} />

    <!-- @ts-ignore -->
    <Characteristics characteristics={characteristics} />

    <section
      class="h-full w-full bg-gray-400 md:h-screen md:w-screen lg:h-screen lg:w-screen xl:h-screen xl:w-screen"
    >
      <!-- @ts-ignore -->
      <Image
        inferSize={true}
        class="h-full w-full object-fill object-center"
        src={corte}
        alt="corte Chuao"
      />
    </section>
    <!-- @ts-ignore -->
    <CocoaMap cocoaMap={cocoaMap} />

    <!-- @ts-ignore -->
    <PostHarvestBenefit postHarvestBenefit={postHarvestBenefit} />

    <!-- @ts-ignore -->
    <Traceability traceability={traceability} />

    <!-- @ts-ignore -->
    <Location location={location} />

    <!-- @ts-ignore -->
    <History history={history} />

    <!-- @ts-ignore -->
    <!-- <SocialResponsibility socialResponsibility={socialResponsibility} /> -->
  </article>
</Layout>
