---
import { Image } from "astro:assets";

import Layout from "@/layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import banner from "@/images/index/banner.webp";
import mundoDeSabores from "@/images/index/imagotipo-mundo-de-sabores.webp";
import lienzo from "@/images/index/lienzo-bg.webp";
import lienzoCacao from "@/images/index/lienzo-cacao-bg.webp";
import post1 from "@/images/index/post.webp";
import mundoDeSaboresPanel from "@/images/index/mundo-de-sabores-panel.webp";
import lienzoMundoBg from "@/images/index/lienzo-mundo-bg.webp";
import logo from "@/images/index/logo.webp";
import logoInteracao from "@/images/index/logo-intercacao.webp";
import logoRegresoAlAgua from "@/images/index/logo-regreso-al-agua.webp";
import logoWilfriedMerle from "@/images/index/logo-wilfried-merle.webp";
import logoRegresoAlAgro from "@/images/index/logo-regreso-al-agro.webp";
import logoFundacionProsperi from "@/images/index/logo-fundacion-prosperi.webp";
import logoWhiteImagotipoCacaoGourmet from "@/images/index/logo-white-imagotipo-cacao-gourmet.webp";
import logoElectronDeporte from "@/images/index/logo-electron-deporte.png";
import logoElectronMusica from "@/images/index/logo-electron-musica-y-dansa.png";
import logoElectronReligion from "@/images/index/logo-electron-religion.png";
import image from "@/images/index/image.png";

import { CarouselPost } from "@/components/ui/carousel/Post";
import ChocolateGallery from "@/components/page";
import { OrbitingCirclesDemo } from "@/components/OrbitingCircles";
import { Mail, MapPin, Facebook, Instagram, MessageCircle } from "lucide-react";

const posts = [
	{
		title: "Metodo de evaluación",
		description:
			"El metodo de evaluacion “cacao grader” complementa el metodo tradicional con un una evaluacion organoléptica completa, desarrollada por la reconocida Chloe Doutre",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
	{
		title: "Chloe Doutre Rousell",
		description:
			"Consultora, Educadora y Experta en cacao fino y chocolate. ",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
	{
		title: "Ing. Alexis Zambrano",
		description: "Profesor, PhD, Magister, Ingeniero Quimico. ",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
	{
		title: "Fundacion Quirico Prosperi",
		description:
			"Organización sin fines de lucro creada con la misión de promover y difundir los valores históricos y agrícolas de Venezuela a través de programas educativos y sociales como “Regreso al agro” y “Proyecto Agua”. ",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
	{
		title: "Central de Beneficio “Pintao“",
		description:
			"Situado en La Concepción, Rio Caribe, nuestras instalaciones cuentan con un equipo de expertos que garantiza los mejores protocolos de fermentación y secado y trazabilidad",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
	{
		title: "Central de Beneficio “Tesoro”",
		description:
			"Situado en el sur del lago (SDLG), nuestras instalaciones cuentan con un equipo de expertos que garantiza los mejores protocolos de fermentacion y secado y trazabilidad",
		image: {
			src: post1.src,
			alt: "Metodo de evaluación",
		},
	},
];
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	pubDate={new Date()}
	keywords=""
>
	<div class="overflow-hidden">
		<div
			id="section-home"
			class="xl:h-screen xl:w-full lg:w-full md:w-full size-dvw flex-1 relative"
		>
			<Image
				inferSize={true}
				src={banner}
				alt="Intercacao banner principal"
				class="h-full w-full object-cover object-center"
			/>
			<Image
				inferSize={true}
				class="xl:w-30 lg:w-30 md:w-30 w-15 absolute xl:top-20 lg:top-20 md:top-20 top-10 xl:left-20 lg:left-20 md:left-20 left-25"
				src={logoInteracao}
				alt="Intercacao banner principal"
			/>
		</div>

		<div
			class="w-full flex justify-center items-center p-10"
			style={`background-image: url(${lienzo.src});`}
		>
			<Image
				inferSize={true}
				src={mundoDeSabores}
				alt="Intercacao banner principal"
				class="object-fill object-center w-75"
			/>
		</div>

		<div class="w-full h-5 bg-primary"></div>

		<div
			id="section-flavours"
			class="xl:w-full lg:w-full md:w-full size-auto flex justify-center items-center xl:px-10 lg:px-10 md:px-10 xl:pb-10 lg:pb-10 md:pb-10"
			style={`background-image: url(${lienzo.src});`}
		>
			<Image
				inferSize={true}
				src={mundoDeSaboresPanel}
				alt="Intercacao banner principal"
				class="object-fill object-center shadow-2xl"
			/>
		</div>

		<div id="section-gourmet" class="w-full h-auto bg-primary">
			<div class="w-full flex justify-center items-center pt-10">
				<Image
					inferSize={true}
					src={logoWhiteImagotipoCacaoGourmet}
					alt="Intercacao banner principal"
					class="object-fill object-center w-75"
				/>
			</div>
			<ChocolateGallery client:load />
		</div>

		<div
			id="section-prosperi"
			class="w-full xl:h-screen lg:h-screen md:h-screen h-auto flex justify-center xl:items-center lg:items-center md:items-center items-start bg-no-repeat bg-start overflow-hidden"
			style={`background-image: url(${lienzoCacao.src});`}
		>
			<div
				class="xl:w-1/2 lg:w-1/2 md:w-1/2 w-full xl:p-0 lg:p-0 md:p-0 p-10 flex flex-col gap-10"
			>
				<h1 class="text-4xl font-bold text-neutral-600 uppercase">
					Fundación Quirico Prosperi
				</h1>
				<p class="text-lg">
					La Fundacion Quirico Prosperi, es una organizacion no
					lucrativa, que tiene el compromiso de difundir los valores
					historicos, culturales y agricolas de venezuela a traves de
					su programa educacional "Regreso al Agro", probando que la
					siembra de cacao es una profesion rentable que genera
					cambios sociales. El objetivo principal es el de colaborar
					con la comunidad, enriqueciendo y promoviendo las buenas
					practicas agricolas para las generaciones futuras de Chuao.
				</p>
				<div
					class="flex xl:flex-row lg:flex-row md:flex-row flex-col justify-center items-center gap-5"
				>
					<div class="h-full w-70">
						<Image
							inferSize={true}
							src={logoRegresoAlAgua}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center"
						/>
					</div>
					<div class="h-full w-70">
						<Image
							inferSize={true}
							src={logoWilfriedMerle}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center"
						/>
					</div>
					<div class="h-full w-70">
						<Image
							inferSize={true}
							src={logoRegresoAlAgro}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center"
						/>
					</div>
				</div>
				<div
					class="flex xl:flex-row lg:flex-row md:flex-row flex-col justify-center items-center gap-5 "
				>
					<div class="h-full w-70 block z-50">
						<Image
							inferSize={true}
							src={logoElectronDeporte}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center block z-50"
						/>
					</div>
					<div class="h-full w-70 block z-50">
						<Image
							inferSize={true}
							src={logoElectronReligion}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center block z-50"
						/>
					</div>
					<div class="h-full w-70 block z-50">
						<Image
							inferSize={true}
							src={logoElectronMusica}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center "
						/>
					</div>
					
				</div>
				<div class="w-full flex justify-center items-center relative">
					<div class="h-full w-100 block z-50 bg-white">
						<Image
							inferSize={true}
							src={logoFundacionProsperi}
							alt="Intercacao banner principal"
							class="h-full w-full object-fill object-center block z-50"
						/>

					</div>
					<div class="absolute -top-[280px] -left-[-80px] w-200 h-200 rounded-full border-2 border-black"/>
					<div class="absolute -top-[80px] w-100 h-100 rounded-full border-2 border-black"/>
				</div>
			</div>
		</div>
		
		<div class="w-full h-5 bg-primary"></div>

		<div
			id="section-about"
			class="w-full h-auto py-20 flex justify-center xl:items-center lg:items-center md:items-center items-start bg-no-repeat bg-start"
			style={`background-image: url(${lienzoCacao.src});`}
		>
			<div
				class="xl:w-1/2 lg:w-1/2 md:w-2/3 w-full xl:p-0 lg:p-0 md:p-0 p-10 flex flex-col justify-center items-center gap-10"
			>
				<div>
					<h1 class="text-4xl font-bold text-neutral-600 uppercase">
						Nosotros
					</h1>
				</div>
				<div>
					<h3 class="py-4 text-3xl text-neutral-600 uppercase">
						Somos un equipo de apasionados por el cacao.
					</h3>
				</div>
				<p class="text-lg">
					Nuestra misión es buscar los más deseados cacaos que
					contribuyan a la elaboración de los mejores chocolates del
					mundo. Trabajamos en los lugares donde crecen los mejores
					cacaos, hogar de los grandiosos cacaos criollos, llegamos a
					orígenes inaccesibles buscando una completa trazabilidad y
					aplicando protocolos post cosecha logrando así aromas y
					sabores extraordinarios para que los grandes chocolateros
					puedan elaborar los mejores chocolates del mundo.​
				</p>
				<div
					class="flex gap-5 justify-center items-center w-full h-100"
				>
					<iframe
						loading="lazy"
						allowfullscreen
						title="Intercacao"
						class="w-full h-full rounded-lg overflow-hidden"
						src="https://www.youtube.com/embed/7jUvTbe8DPE"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
				</div>
				<div class="flex gap-5 justify-center items-center w-full">
					<CarouselPost posts={posts} client:load />
				</div>
			</div>
		</div>

		<div class="w-full h-5 bg-primary"></div>

		<div
			id="section-contact"
			class="xl:h-screen xl:w-auto lg:w-auto md:w-auto size-dvw h-screen flex justify-center items-center bg-no-repeat bg-start"
			style={`background-image: url(${lienzoMundoBg.src});`}
		>
			<div
				class="xl:w-1/2 lg:w-1/2 md:w-1/2 w-full flex flex-col justify-center items-center gap-10"
			>
				<Image
					inferSize={true}
					class="w-80"
					src={logo}
					alt="Intercacao banner principal"
				/>
				<ul class="flex flex-col gap-5 justify-start items-start">
					<li class="flex gap-5">
						<MapPin
							className="xl:size-14 lg:size-14 md:size-14 size-8"
						/>
						<div
							class="text-primary xl:text-3xl lg:text-3xl md:text-2xl text-lg"
						>
							800 Brickell Ave Ste 411A<br />
							FL, 33149<br />
							USA<br />
						</div>
					</li>
					<li class="flex gap-5">
						<MessageCircle
							className="xl:size-14 lg:size-14 md:size-14 size-8"
						/>
						<div
							class="text-primary xl:text-3xl lg:text-3xl md:text-2xl text-lg"
						>
							+58 (414) 155.90.27
						</div>
					</li>
					<li class="flex gap-5 justify-center items-center">
						<Mail
							className="xl:size-14 lg:size-14 md:size-14 size-8"
						/>
						<div
							class="text-primary xl:text-3xl lg:text-3xl md:text-2xl text-lg"
						>
							<a href="mailto:ania@intercacao.com"
								>ania@intercacao.com</a
							>
						</div>
					</li>
					<li class="flex gap-5">
						<Facebook
							className="xl:size-14 lg:size-14 md:size-14 size-8"
						/>
						<div
							class="text-primary xl:text-3xl lg:text-3xl md:text-2xl text-lg"
						>
							<a
								target="_blank"
								href="http://www.facebook.com/intercacao.web"
								>Intercacao</a
							>
						</div>
					</li>
					<li class="flex gap-5">
						<Instagram
							className="xl:size-14 lg:size-14 md:size-14 size-8"
						/>
						<div
							class="text-primary xl:text-3xl lg:text-3xl md:text-2xl text-lg"
						>
							<a
								target="_blank"
								href="http://www.instagram.com/intercacaoweb/"
								>intercacaoweb</a
							>
						</div>
					</li>
				</ul>
				<p class="text-xs font-thin">
					Copyrights © 2025 Intercacao Todos los derechos reservados.
				</p>
			</div>
		</div>
	</div>
</Layout>
