---
import Layout from '@/layouts/CocoaLayout.astro';
import { Image } from 'astro:assets';

import ChuaoWeb from '@/images/chuao/chuao-web.webp';
import ratingStars from '@/images/chuao/rating-stars-cut.png';
import corteChuao from '@/images/chuao/corte-chuao.jpg';

import GeneralInformation from '@/components/template/GeneralInformation.astro';
import Characteristics from '@/components/template/Characteristics.astro';
import CocoaMap from '@/components/template/CocoaMap.astro';
import PostHarvestBenefit from '@/components/template/PostHarvestBenefit.astro';
import Traceability from '@/components/template/Traceability.astro';
import Location from '@/components/template/Location.astro';
import History from '@/components/template/History.astro';
import SocialResponsibility from '@/components/template/SocialResponsibility.astro';

import data from '@/data/chuao/data';

const {
  characteristics,
  cocoaMap,
  postHarvestBenefit,
  traceability,
  location,
  history,
  socialResponsibility,
} = data(Astro);

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'es' } }];
}
---

<Layout
  title="Intercacao Europe Bv | Cacao de Chuao"
  description="Descubre el Cacao de Chuao, reconocido mundialmente por su calidad y sabor excepcionales. Conoce su proceso de producción sostenible, desde la cosecha hasta la fermentación, y explora las tradiciones culturales de la comunidad que lo cultiva. Sumérgete en la rica historia del cacao venezolano y su impacto en la industria gourmet."
  pubDate={new Date()}
  keywords="Cacao de Chuao, cacao trinitario, cacao criollo, granos de cacao, análisis de corte, características organolépticas, sabor a cacao, aroma floral, fermentación del cacao, técnicas de secado, trazabilidad del cacao, certificado de origen, cosecha de cacao, producción sostenible, agricultura en Venezuela, historia del cacao en Chuao, folklore venezolano, comunidad de Chuao, responsabilidad social, Fundación Prosperi, mapa sensorial del cacao, cacao gourmet, cacao artesanal, cultura del cacao, cacao de alta calidad, tradiciones de Chuao"
>
  <article class="w-full overflow-x-hidden overflow-y-auto">
    <GeneralInformation
      generalInformation={{
        title: 'evaluacion',
        mainImage: {
          src: ChuaoWeb,
          alt: 'portada de chuao cacao',
        },
        rating: {
          value: '5.0',
          stars: {
            src: ratingStars,
            alt: 'estrellas de calificación 5.0',
          },
        },
        sections: [
          {
            items: [
              { label: 'AFRUTADO DULCE', value: '2.6' },
              { label: 'AFRUTADO CÍTRICO', value: '4.0' },
              { label: 'AFLORADO', value: '0.5' },
              { label: 'ACRIOLLADO', value: '3.4' },
              { label: 'CACAO', value: '3.6' },
              { label: 'BOSCOSO', value: '0.8' },
              { label: 'ESPECIAS', value: '0.6' },
            ],
          },
          {
            items: [
              { label: 'PRODUCCIÓN ANUAL (TM)', value: '25' },
              { label: 'COSECHA PRINCIPAL', value: 'DIC-MAR' },
              { label: 'COSECHA MEDIA', value: 'JUN-JUL' },
            ],
          },
          {
            items: [{ label: 'GRANOS CRIOLLOS', value: '22%' }],
          },
          {
            items: [
              { label: 'GRANOS FERMENTADOS', value: '90%' },
              { label: 'GRANOS VIOLETAS', value: '6%' },
              { label: 'GRANOS PIZARROSOS', value: '2%' },
              { label: 'TOTAL', value: '100%' },
            ],
          },
          {
            items: [
              { label: 'Granos / 100g:', value: '83' },
              { label: 'g./1 Grano:', value: '1,20 g' },
            ],
          },
          {
            items: [
              { label: 'CERTIFICADO', value: 'SI' },
              { label: 'PREMIOS', value: 'NO' },
            ],
          },
        ],
      }}
    />
    <!-- @ts-ignore -->
    <Characteristics characteristics={characteristics} />

    <section
      class="h-full w-full bg-gray-400 md:h-screen md:w-screen lg:h-screen lg:w-screen xl:h-screen xl:w-screen"
    >
      <Image
        inferSize={true}
        class="h-full w-full object-fill object-center"
        src={corteChuao}
        alt="corte Chuao"
      />
    </section>

    <!-- @ts-ignore -->
    <CocoaMap cocoaMap={cocoaMap} />

    <!-- @ts-ignore -->
    <PostHarvestBenefit postHarvestBenefit={postHarvestBenefit} />

    <!-- @ts-ignore -->
    <Traceability traceability={traceability} />

    <!-- @ts-ignore -->
    <Location location={location} />

    <!-- @ts-ignore -->
    <History history={history} />

    <!-- @ts-ignore -->
    <SocialResponsibility socialResponsibility={socialResponsibility} />
  </article>
</Layout>
