---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/assets/css/global.css';
import '@/assets/css/rawline.css';
import { SITE_TITLE } from "@/types/home/website";

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg', keywords } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta
  name="keywords"
  content={`${keywords}, cacao, cocoa, salon du chocolat, alejandro prosperi, chocolate, cacao chuao, cacao pintao, cacao tesoro, cacao porcelana, gourmet, international cocoa inc, intercacao europe Bv, Venezuela cacao, cacao Venezuela, cocoa Venezuela, traceability, trazabilidad, chocolate gourmet, producción sostenible, historia del cacao, agricultura venezolana, calidad del cacao, sabores exquisitos, industria del chocolate, chocolates finos, eventos de chocolate, cacao orgánico`}
/>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RJY1Y8RB08"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RJY1Y8RB08');
</script>