---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'template'>['data'];

const { cocoaMap } = Astro.props;
---

{
  cocoaMap.map((section) => (
    <section class="px-5 md:px-30 lg:px-50 xl:px-50">
      <div class="my-10 flex flex-col gap-5 md:flex-row lg:flex-row xl:flex-row">
        <div class="flex w-full flex-1 flex-col gap-5 md:w-2/4 lg:w-2/4 xl:w-2/4">
          <h3 class="py-4 text-3xl text-neutral-600 uppercase">{section.title}</h3>

          {section.content.map((content) => {
            switch (content.type) {
              case 'quote':
                return (
                  <p
                    class={`px-3 text-justify text-lg ${content.border ? 'border-x border-black' : ''}`}
                  >
                    <i>
                      <b>{content.quote}</b>{content.author}
                    </i>
                  </p>
                );
              case 'paragraph':
                return <p class="text-lg">{content.text}</p>;
            }
          })}
        </div>

        <div
          class={`group animate-trigger-left relative flex w-full flex-1 items-center justify-center rounded-lg md:w-2/4 lg:w-2/4 xl:w-2/4 ${section.image.align === 'left' ? 'order-first' : ''}`}
        >
          <Image
            inferSize={true}
            loading="eager"
            class="transform rounded-lg object-fill object-center transition-all duration-500 ease-out group-hover:scale-105"
            src={section.image.src}
            alt={section.image.alt}
          />
        </div>
      </div>
    </section>
  ))
}
