---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

import Rating from '@/components/ui/Rating';
type Props = CollectionEntry<'template'>['data'];

const { generalInformation } = Astro.props;
---

<div
  id="section-home"
  class="flex h-auto w-full flex-col flex-wrap bg-gray-200 md:flex-row lg:flex-row xl:flex-row"
>
  <div
    class="relative size-auto flex-1 overflow-hidden bg-neutral-700 md:w-auto lg:w-auto xl:w-auto"
  >
    <Image
      inferSize={true}
      loading="eager"
      class="object-start relative h-full w-full object-contain"
      src={generalInformation.mainImage.src}
      alt={generalInformation.mainImage.alt}
    />
  </div>
  <div
    class="w-full flex-none bg-neutral-700 px-15 py-10 text-white md:w-lg md:px-10 lg:w-lg lg:px-10 xl:w-lg xl:px-20"
  >
    <div class="flex flex-col gap-7 text-base font-thin">
      <!-- Sección de Rating -->
      <div>
        {
          generalInformation.cocoa && (
            <div class="flex flex-col gap-2 pb-5">
              <h1 class="text-center text-xl font-medium tracking-[8px] uppercase md:text-2xl lg:text-2xl xl:text-2xl">
                {generalInformation.cocoa.title}
              </h1>
              <h2 class="text-center text-xl font-bold tracking-[7px] uppercase md:text-3xl lg:text-3xl xl:text-3xl">
                {generalInformation.cocoa.subtitle}
              </h2>
              <h3 class="text-center text-md tracking-[7px] uppercase">
                {generalInformation.cocoa.header}
              </h3>
              <div class={`h-2 w-full pt-2 ${generalInformation.cocoa.color}`} />
            </div>
          )
        }

        <div class="flex flex-row gap-0.5">
          <p class="flex flex-wrap justify-between gap-2 w-full"> 
            <span class="uppercase">{generalInformation.title}</span>
            <span class="mb-2 flex-grow border-b border-dashed border-gray-300"></span>
            <b>{generalInformation.rating.value}</b>
          </p>
          <Rating value={Number(generalInformation.rating.value)} />
        </div>
      </div>

      <!-- Secciones dinámicas -->
      {
        generalInformation.sections.map((section: any) => (
          <div class="flex flex-col gap-0.5">
            {section.items.map((item: any) => (
              <p class="flex flex-wrap justify-between gap-2">
                <span>{item.label}</span>
                <span class="mb-2 flex-grow border-b border-dashed border-gray-300" />
                <b>{item.value}</b>
              </p>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</div>
