---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'template'>['data'];

const { history } = Astro.props;
---

<section
  id="section-history"
  class="flex w-full flex-col gap-5 px-5 py-10 md:px-50 lg:px-50 xl:px-50"
>
  <h1 class="text-4xl font-bold text-neutral-600 uppercase">{history.title}</h1>
  <div class="flex w-full flex-col gap-8 md:flex-row lg:flex-row xl:flex-row">
    <div class="flex w-full flex-none flex-col gap-5 md:w-90 lg:w-90 xl:w-90">
      {
        history.images.map((image, index) => (
          <div class="group animate-trigger-right relative size-full flex-none overflow-hidden rounded-lg md:size-90 lg:size-90 xl:size-90">
            <Image
              inferSize={true}
              loading="eager"
              src={image.src}
              alt={image.alt}
              class="transform rounded-lg object-fill object-center transition-all duration-500 ease-out group-hover:scale-105"
            />
          </div>
        ))
      }
    </div>

    <div class="flex w-full flex-1 flex-col gap-5">
      {
        history.content.map(({ text, type }) => {
          switch (type) {``
            case 'paragraph':
              return <p class="text-lg">{text}</p>;
            case 'highlight':
              return (
                <p class="border-x border-black px-3 text-justify text-lg">
                  <i>
                    <b>{text}</b>
                  </i>
                </p>
              );

          }
        })
      }
    </div>
  </div>

  {history.paragraphs?.map((paragraph, index) => <p class="text-lg">{paragraph}</p>)}
</section>
