---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'template'>['data'];

const { location } = Astro.props;
---

<section
  id="section-location"
  class="flex w-full flex-col gap-5 bg-neutral-100 px-5 py-10 md:px-30 lg:px-50 xl:px-50"
>
  <!-- Título principal -->
  <h1 class="text-4xl font-bold text-neutral-600 uppercase">
    {location.title}
  </h1>

  <!-- Sección de ubicación geográfica -->
  <div class="flex w-full flex-col gap-5 py-5 md:flex-row lg:flex-row xl:flex-row">
    <!-- Mapa -->
    <div class="w-full flex-1 md:w-2/4 lg:w-2/4 xl:w-2/4">
      <div
        class="group animate-trigger-right relative size-auto flex-none overflow-hidden rounded-lg bg-neutral-300"
      >
        <a href={location.locationInfo.map.link} target="_blank">
          <Image
            src={location.locationInfo.map.src}
            alt={location.locationInfo.map.alt}
            class="transform rounded-lg object-fill object-center transition-all duration-500 ease-out group-hover:scale-105"
          />
        </a>
      </div>
    </div>

    <!-- Detalles de ubicación -->
    <div class="w-full flex-1 md:w-2/4 lg:w-2/4 xl:w-2/4">
      <h2 class="py-4 text-3xl text-neutral-600 uppercase">
        {location.subtitle}
      </h2>
      <ul class="flex flex-col gap-5 text-lg">
        {
          location.locationInfo.details.map((detail) => (
            <li>
              <b>{detail.label}: </b>
              {detail.value}
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <!-- Párrafos descriptivos -->
  {location.paragraphs.map((paragraph) => <p class="text-lg">{paragraph}</p>)}

  <!-- Sección de ecología -->
  <div class="flex w-full flex-col gap-5 md:flex-row lg:flex-row xl:flex-row">
    <!-- Texto de ecología -->
    <div
      class={`flex w-full flex-1 flex-col gap-5 ${location.ecology.images.length ? ' md:w-2/4 lg:w-2/4 xl:w-2/4' : 'w-full'}`}
    >
      <h3 class="py-4 text-3xl text-neutral-600 uppercase">
        {location.ecology.title}
      </h3>
      {location.ecology.paragraphs.map((paragraph) => <p class="text-lg">{paragraph}</p>)}
    </div>

    <!-- Imágenes de ecología -->
    {
      !!location.ecology.images.length && (
        <div class="flex w-full flex-1 flex-col gap-5 md:w-2/4 lg:w-2/4 xl:w-2/4">
          {location.ecology.images.map((image) => (
            <div class="group animate-trigger-left relative h-auto w-full flex-none overflow-hidden rounded-lg">
              <Image
                inferSize={true}
                src={image.src}
                alt={image.alt}
                loading="lazy"
                class="transform rounded-lg object-fill object-center transition-all duration-500 ease-out group-hover:scale-105"
              />
            </div>
          ))}
        </div>
      )
    }
  </div>
</section>
