---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'template'>['data'];

const { socialResponsibility } = Astro.props;
---

<section
  id="section-responsive"
  class="flex w-full flex-col gap-5 bg-neutral-100 px-5 py-10 pt-10 pb-20 md:px-50 lg:px-50 xl:px-50"
>
  <h1 class="text-4xl font-bold text-neutral-600 uppercase">
    {socialResponsibility?.title}
  </h1>
  <p class="text-lg">
    {socialResponsibility?.paragraphs}
  </p>
  <div class="flex items-center justify-center gap-5 py-10">
    <div
      class="flex w-full flex-none flex-col items-center justify-center gap-20 rounded-lg md:w-110 lg:w-110 xl:w-110"
    >
      {
        socialResponsibility?.images?.map((image, index) => (
          <Image
            inferSize={true}
            src={image.src}
            alt={image.alt}
            class="rounded-lg object-fill object-center"
          />
        ))
      }
    </div>
  </div>
</section>
